<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="layout">
<head>
    <meta charset="UTF-8">
</head>

<th:block layout:fragment="content">

    <div class="table-responsive clearfix">
        <table class="table table-hover table-member-list">
            <colgroup>
                <col style="width:3%">
                <col style="width:29%">
                <col style="width:20%">
                <col style="width:30%">
                <col style="width:15%">
                <col style="width:3%">
            </colgroup>
            <thead>
            <tr>
                <th></th>
                <th scope="col">Email</th>
                <th scope="col">Username</th>
                <th scope="col">User Roles</th>
                <th scope="col">Sign-up Date</th>
                <th scope="col"></th>
            </tr>
            </thead>

            <tbody id="user-detail">

            </tbody>
        </table>

        <!-- 페이지네이션 Rendering 영역 -->
        <div class="member-list-page-navigation">
            <div id="page-navigation">
            </div>
        </div>

    </div>

</th:block>


<th:block layout:fragment="script">
    <script th:inline="javascript">

        let page = 0;
        let size = 10;
        let id = 0;

        let arrId = new Array();
        let arrAdmin = new Array();
        let arrUser = new Array();
        let arrSocial = new Array();

        window.onload = () => {
            getUserDetails(page);
        }

        function getUserDetails(page) {


            let html = '';
            const getPostUri = `/api/members?page=${page}&size=${size}`;
            fetch(getPostUri, {
                method: 'GET',
            }).then(response => {
                if(response.ok) {
                    return response.json();
                }
            }).then(json => {

                let navHtml = '';

                if(json.result.data.memberList.length == 0) {
                    //멤버 x
                }
                else {

                    //멤버 목록 생성
                    json.result.data.memberList.forEach((obj, idx) => {
                        let roles = '';
                        let checkedUser = false;
                        let checkedSocial = false;
                        let checkedAdmin = false;

                        obj.roles.forEach((role, index) => {
                            if(index > 0) roles += ' & '

                            if(role == 'ROLE_USER') {
                                checkedUser = true;
                                roles += 'USER';
                            }
                            else if(role == 'ROLE_SOCIAL') {
                                checkedSocial = true;
                                roles += 'SOCIAL';
                            }
                            else if(role == 'ROLE_ADMIN') {
                                checkedAdmin = true;
                                roles += 'ADMIN';
                            }
                        });
                        arrId[idx] = obj.id;
                        arrUser[idx] = checkedUser;
                        arrAdmin[idx] = checkedAdmin;
                        arrSocial[idx] = checkedSocial;

                        html += `
                            <tr>
                                <td>
                                    <div class="list-number">${json.result.data.totalElements - (page * size) - idx}</div>
                                </td>
                                <td>
                                    <div class="list-email">${obj.email}</div>
                                </td>
                                <td>
                                    <div class="list-username">${obj.username}</div>
                                </td>
                                <td>
                                    <div class="list-roles">
                                        <a href="javascript: void(0);" onclick="toggle(${obj.id})">${roles}</a>
                                        <div class="toggle" id="toggle-${obj.id}">
                                            <form id="form-${obj.id}" action="/members/modify/roles/${obj.id}" method="post">
                                                <div>
                                                    <input type="checkbox" value="ADMIN" name="roles" id="roleCheckbox-admin-${obj.id}" >
                                                    <input type="hidden" name="_roleCheckbox-${obj.id}" value="on"/>
                                                    <label for="roleCheckbox-admin-${obj.id}">ADMIN</label>
                                                    <input type="checkbox" value="USER" name="roles" id="roleCheckbox-user-${obj.id}" >
                                                    <input type="hidden" name="_roleCheckbox-${obj.id}" value="on"/>
                                                    <label for="roleCheckbox-user-${obj.id}">USER</label>
                                                    <input type="checkbox" value="SOCIAL" name="roles" id="roleCheckbox-social-${obj.id}">
                                                    <input type="hidden" name="_roleCheckbox-${obj.id}" value="on"/>
                                                    <label for="roleCheckbox-social-${obj.id}">SOCIAL</label>
                                                </div>
                                                <button type="submit">저장</button>
                                                <a href="javascript: void(0)" onclick="toggleClose(${obj.id})">취소</a>
                                            </form>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="list-date">${moment(obj.createdDate).format('YYYY-MM-DD')}</div>
                                </td>
                                <td>
                                    <div class="list-delete-btn"><a class="fa-regular fa-trash-can" href="javascript:void(0)" onclick="deleteMember(${obj.id})"></a></div>
                                </td>
                            </tr>
                        `;
                    });

                    navHtml = generateNavButton(json, page);
                }

                document.getElementById('user-detail').innerHTML = html;
                document.getElementById('page-navigation').innerHTML = navHtml;

                checkboxUpdate();

            }).catch(error => {
                console.log('error');
            });

        }

        function generateNavButton(json, page) {

            let generatedHtml = '';
            let startPage = parseInt((page) / 10) * 10 + 1;

            if(page != 0) {
                generatedHtml += `
                    <a href="javascript:void(0)", onclick="getUserDetails(0);" aria-label="Previous">&laquo;</a>
                    <a href="javascript:void(0)", onclick="getUserDetails(${page-1});" aria-label="Previous">&lsaquo;</a>
                `;
            }

            for (let i = startPage ; i < startPage+10; i++) {
                if(i >json.result.data.totalPages) {
                    break;
                }

                const active = (i === page+1) ? 'class="active"' : '';

                generatedHtml += `
                    <a href="javascript:void(0)" onclick="getUserDetails(${i-1})" ${active}>${i}</a>`;
            }

            if(json.result.data.hasNext) {
                generatedHtml += `
                    <a href="javascript:void(0)" onclick="getUserDetails(${page + 1});" aria-label="Next">&rsaquo;</a>
                    <a href="javascript:void(0)" onclick="getUserDetails(${json.result.data.totalPages - 1});" aria-label="Next">&raquo;</a>
                `;
            }

            return generatedHtml;


        }

        function toggle(memberId) {
            id = memberId;
            console.log(id);
            const toggle = document.getElementById('toggle-'+memberId);
            toggle.style.display = 'block';
        }

        function toggleClose(memberId) {
            const toggle = document.getElementById('toggle-'+memberId);
            toggle.style.display = 'none';
        }

        function checkboxUpdate() {
            for(let i = 0; i < arrId.length ; i ++) {
                if(arrUser[i]) { //true
                    document.getElementById("roleCheckbox-user-"+arrId[i]).checked = true;
                }
                if(arrAdmin[i]) {
                    document.getElementById("roleCheckbox-admin-"+arrId[i]).checked = true;
                }
                if(arrSocial[i]) {
                    document.getElementById("roleCheckbox-social-"+arrId[i]).checked = true;
                }
            }
        }

        function deleteMember(id) {
            const uri = `/api/members/${id}`;
            if(!confirm('정말 삭제하시겠습니까?')) {
                return false;
            }

            fetch(uri, {
                method: 'DELETE',
            }).then(response => {
                if(!response.ok) {
                    throw new Error('Request failed');
                }
                alert('삭제되었습니다');
                location.href = `/members/list`;
            }).catch(error => {
                alert('오류가 발생하였습니다');
            });

        }

    </script>

</th:block>

</html>