<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="layout">
<head>
    <meta charset="UTF-8">
</head>

<th:block layout:fragment="content">

    <div class="container">

        <div class="py-5 text-center">
            <h2>비밀번호 변경</h2>
        </div>

        <form action="" th:action id="form" th:object="${dto}" method="post">
            <div>
                <label for="oldPassword">현재 비밀번호</label>
                <input type="password" id="oldPassword" th:field="*{oldPassword}" class="form-control"
                       th:errorclass="field-error">
                <div class="field-error" th:errors="*{oldPassword}" />
            </div>
            <div>
                <label for="newPassword">새 비밀번호</label>
                <input type="password" id="newPassword" th:field="*{newPassword}" class="form-control"
                       th:errorclass="field-error">
                <div class="field-error" th:errors="*{newPassword}" />
            </div>
            <hr class="my-4">

            <div class="row">
                <div class="col">
<!--                    <button class="btn btn-primary" type="button" onclick="modifyPassword()">수정</button>-->
                    <button class="btn btn-primary" type="submit">수정</button>
                    <button class="btn btn-secondary" th:onclick="|location.href='@{/members/details}'|"
                            type="button">취소</button>
                </div>
            </div>

        </form>

</th:block>

<th:block layout:fragment="script">

    <script type="text/javascript">

        function modifyPassword() {
            const form = document.getElementById('form');
            const params = {
                oldPassword: form.oldPassword.value,
                newPassword: form.newPassword.value
            };
            const uri = "/members/modify/password";
            console.log(JSON.stringify(params));

            fetch(uri, {
                method: 'POST',
                headers: {
                    'Content-Type':'application/json'
                },
                body: JSON.stringify(params)

            }).then(response => {
                console.log(response);
                if(!response.ok) {
                    throw new Error('Request Failed');
                }
            }).catch(error => {
                alert('오류가 발생했습니다.');
            });
        }

    </script>

</th:block>

</html>