<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="layout">
<head>
    <meta charset="UTF-8">
</head>

<th:block layout:fragment="content">

    <div class="sign-block">
        <div class="sign-title">
            <h2 class="title-text" th:text="#{member.changePassword}">Change Password</h2>
        </div>
        <div class="sign-form">
            <form action="" th:action id="form" th:object="${dto}" method="post">
                <div class="modify-password-old">
                    <label for="oldPassword" th:text="#{member.changePassword.Old}">Old Password</label>
                    <input type="password" id="oldPassword" th:field="*{oldPassword}" class="form-control"
                           th:errorclass="field-error">
                    <div class="field-error" th:errors="*{oldPassword}" />
                </div>
                <div class="modify-password-new">
                    <label for="newPassword" th:text="#{member.changePassword.New}">New Password</label>
                    <input type="password" id="newPassword" th:field="*{newPassword}" class="form-control"
                           th:errorclass="field-error">
                    <div class="field-error" th:errors="*{newPassword}" />
                </div>

                <div class="btn-block">
                    <div class="btn-common">
                        <button class="btn btn-primary" type="submit" th:text="#{button.modify}">Modify</button>
                        <button class="btn btn-secondary" th:onclick="|location.href='@{/members/details}'|"
                                type="button" th:text="#{button.cancel}">Cancel</button>
                    </div>

                </div>
            </form>
        </div>

    </div>


</th:block>

<th:block layout:fragment="script">

    <script type="text/javascript">

        function modifyPassword() {
            const form = document.getElementById('form');
            const params = {
                oldPassword: form.oldPassword.value,
                newPassword: form.newPassword.value
            };
            const uri = "/members/modify/password";
            console.log(JSON.stringify(params));

            fetch(uri, {
                method: 'POST',
                headers: {
                    'Content-Type':'application/json'
                },
                body: JSON.stringify(params)

            }).then(response => {
                console.log(response);
                if(!response.ok) {
                    throw new Error('Request Failed');
                }
            }).catch(error => {
                alert('오류가 발생했습니다.');
            });
        }

    </script>

</th:block>

</html>