<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="layout">
<head>
    <meta charset="UTF-8">
</head>

<th:block layout:fragment="content">

    <div class="container">

        <div class="py-5 text-center">
            <h2>회원 정보 수정</h2>
        </div>

        <p th:text="|Hello ${user}|"></p>


        <form id="form" th:object="${dto}">
            <div>
                <label for="loginId">ID</label>
                <input type="text" id="loginId" th:field="*{loginId}" class="form-control"
                       th:errorclass="field-error" readonly>
                <div class="field-error" th:errors="*{loginId}" />
            </div>
            <div>
                <label for="password">비밀번호</label>
                <input type="password" id="password" th:field="*{password}" class="form-control"
                       th:errorclass="field-error">
                <div class="field-error" th:errors="*{password}" />
            </div>
            <div>
                <label for="name">이름</label>
                <input type="text" id="name" th:field="*{name}" class="form-control"
                       th:errorclass="field-error">
                <div class="field-error" th:errors="*{name}" />
            </div>
            <div>
                <label for="email">이메일</label>
                <input type="text" id="email" th:field="*{email}" class="form-control"
                       th:errorclass="field-error" readonly>
                <div class="field-error" th:errors="*{email}" />
            </div>

            <hr class="my-4">

            <div class="row">
                <div class="col">
                    <button class="btn btn-primary" type="button" onclick="modifyUser()">수정</button>
                    <button class="btn btn-secondary" th:onclick="|location.href='@{/}'|"
                            type="button">취소</button>
                </div>
            </div>

        </form>



</th:block>

<th:block layout:fragment="script">

    <style>
        .container {
            max-width: 560px;
        }
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>

    <script type="text/javascript">
        function modifyUser() {
            const form = document.getElementById('form');
            const params = {
                loginId: form.loginId.value,
                password: form.password.value,
                name: form.name.value,
                email: form.email.value
            };

            if (!params.name || params.name.trim() === "" || !params.password || params.password.trim() === "") {
                alert("공백 또는 입력하지 않은 부분이 있습니다");
                return false;
            } /*else if (!/(?=.*[A-Za-z])(?=.*\\d)(?=.*[$@$!%*#?&]).{8,16}/.test(params.password)) {
                alert("비밀번호는 8~16자리수여야 합니다. 영문 대소문자, 숫자, 특수문자를 1개 이상 포함해야 합니다.");
                $('#password').focus();
                return false;
            }*/
            console.log(params);
            const uri = '../api/user';
            fetch(uri, {
                method: 'PATCH',
                headers: {
                    'Content-Type': 'application/json; charset=utf-8',
                    'Accept': 'application/json',
                },
                body: JSON.stringify(params)
            }).then((response) => {
                if (!response.ok) {
                    throw new Error('Request failed');
                }
                alert('수정되었습니다');
                window.location.href = "/";

            }).catch((error) => {
                alert('오류가 발생했습니다');
            });
        }

    </script>

</th:block>

</html>