<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" layout:decorate="layout">

<th:block layout:fragment="content">

    <div class="sign-block">
        <div class="sign-title">
            <h2 class="title-text" th:text="#{auth.title.signUp}">Sign Up</h2>
        </div>

        <div class="sign-form">
            <form action="" th:action th:object="${member}" method="post">
                <div class="sign-form-input">
                    <div th:if="${#fields.hasGlobalErrors()}">
                        <p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">전체 오류 메시지</p>
                    </div>

                    <div class="sign-form-email">
                        <label for="email" th:text="#{auth.email}">Email</label>
                        <input type="text" id="email" th:field="*{email}" class="form-control "
                               th:errorclass="field-error">
                        <button type="button" class="btn btn-secondary" onclick="duplicateEmailCheck()" th:text="#{button.check}">Check</button>
                        <div class="field-error" th:text="${duplicateLoginId}? ${duplicateLoginIdErr}:''"></div>

                        <div class="field-error" th:errors="*{email}" />
                        <span id="duplicateCheckResult"></span>
                    </div>
                    <div>
                        <label for="password" th:text="#{auth.password}">Password</label>
                        <input type="password" id="password" th:field="*{password}" class="form-control"
                               th:errorclass="field-error">
                        <div class="field-error" th:errors="*{password}" />
                    </div>
                    <div>
                        <label for="username" th:text="#{auth.username}">Username</label>
                        <input type="text" id="username" th:field="*{username}" class="form-control"
                               th:errorclass="field-error">
                        <div class="field-error" th:errors="*{username}" />
                    </div>
                </div>

                <div class="row">
                    <div class="btn-block">
                        <div class="btn-common btn-login">
                            <button class="btn btn-secondary" th:onclick="|location.href='@{/}'|" type="button" th:text="#{button.cancel}">Cancel</button>
                            <button class="btn btn-primary" type="submit" th:text="#{button.signUp}">Sign Up</button>
                        </div>

                    </div>
                </div>

            </form>
        </div>

        <hr class="my-4">
        <div class="btn-block">
            <div class="btn-oauth">
                <div class="google-login-button">
                    <!--                    <button class="btn btn-google" type="button" th:onclick="|location.href='@{/oauth2/authorization/google}'|">-->
                    <button class="btn btn-google" type="button" th:onclick="|location.href='@{/oauth2/authorization/google?redirect_uri=http://localhost:8080}'|">
                        <img>
                    </button>
                </div>
                <div class="github-login-button">
                    <button class="btn btn-github" type="button" th:onclick="|location.href='@{/oauth2/authorization/github}'|">
                        <img>
                    </button>
                </div>
                <div class="naver-login-button">
                    <button class="btn btn-naver" type="button" th:onclick="|location.href='@{/oauth2/authorization/naver}'|">
                        <img>
                    </button>
                </div>
                <div class="kakao-login-button">
                    <button class="btn btn-kakao" type="button" th:onclick="|location.href='@{/oauth2/authorization/kakao}'|">
                        <img>
                    </button>
                </div>
            </div>
        </div>
    </div>


</th:block>

<th:block layout:fragment="script">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script type="text/javascript">
        function duplicateEmailCheck() {

            var email = {"email": $("#email").val()};
            $.ajax({
                type: "POST",
                url: "/api/duplicate-email-check",
                data: JSON.stringify(email),
                dataType: 'json',
                contentType: "application/json",
                success: function(data) {
                    if(!data.success) {
                        //id 중복
                        $("#duplicateCheckResult").text(data.result.msg);
                        $("#duplicateCheckResult").css('color', "#dc3545");
                    }
                    else {
                        $("#duplicateCheckResult").text("사용 가능한 email 입니다.");
                        $("#duplicateCheckResult").css('color', 'black');
                    }
                }
            });
        }
    </script>

</th:block>


</html>