<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="layout">
<head>
  <meta charset="UTF-8">
</head>

<th:block layout:fragment="content">

  <div class="post-update-block">
    <div class="post-title">
      <h2 id="title-text" class="title-text" th:text="#{board.update.header}">Update Post</h2>
    </div>
    <div class="post-create">
      <form action="" id="form" class="form-horizontal">
        <div class="form-group">
          <div class="post-modify-title">
            <input type="text" id="title" name="title" class="form-control" th:placeholder="#{board.write.title.placeholder}" placeholder="Enter a title" />
          </div>
        </div>

        <div class="form-group">
          <div class="post-modify-content">
            <textarea id="content" name="content" class="form-control" th:placeholder="#{board.write.content.placeholder}" placeholder="Enter contents"></textarea>
          </div>
        </div>

        <div class="form-group">
          <div class="post-image-list" id="post-image-list">

          </div>
          <div class="post-file-upload">
            <input type="file" id="addedImages" name="addedImages" accept="image/*" th:text="#{board.write.chooseFiles}" multiple>
          </div>
        </div>


        <div class="btn_wrap text-center btn-post">
          <button type="button" onclick="goList();" class="btn btn-default waves-effect waves-light" th:text="#{button.cancel}">Cancel</button>
          <button type="button" onclick="save();" class="btn btn-primary waves-effect waves-light" th:text="#{button.save}">Save</button>
        </div>
      </form>

    </div>
  </div>


</th:block>


<th:block layout:fragment="script">
  <script th:inline="javascript">
    /*<![CDATA[*/

    window.onload = () => {
      findPost();
    }

    let deletedImage = new Array();

    function findPost() {
      const id = /*[[ ${id} ]]*/;
      if(!id) {
        location.href = '/posts';
      }

      let imgListHtml = '';

      fetch(`/api/posts/${id}`).then(response => {

        if(!response.ok) {
          throw new Error('Request failed..');
        }
        return response.json();
      }).then(json => {
        console.log(json);
        const form = document.getElementById('form');
        form.title.value = json.result.data.title;
        form.content.value = json.result.data.content;

        if(json.result.data.images.length) {
          imgListHtml += `<ul>`;
          json.result.data.images.forEach(obj => {
            imgListHtml += `
              <li id="img-list-${obj.id}">
                <span>${obj.originName}</span>
                <i class="fa-solid fa-xmark" onclick="deleteImage(${obj.id})"></i>
              </li>
            `;
          });
          document.getElementById('post-image-list').innerHTML = imgListHtml;
        }
      }).catch(error => {
        alert('게시글 정보를 찾을 수 없습니다');
        location.href = '/posts';
      });
    }

    function save() {
      const form = document.getElementById('form');

      let formData = new FormData();
      formData.append('title', form.title.value);
      formData.append('content', form.content.value);
      Array.from(form.addedImages.files).forEach((img => formData.append('addedImages',img)));
      deletedImage.forEach((id => formData.append('deletedImages', id)));
      // formData.append('addedImages', null);
      // formData.append('deletedImages', null);
      const params = {
        title: form.title.value,
        content: form.content.value,
        // addedImages: form.images.value
      };

      const id = /*[[ ${id} ]]*/;
      const uri = `/api/posts/${id}`;


      fetch(uri, {
        method: 'PATCH',

        headers: {
          // 'Content-Type':'multipart/form-data'
        },
        body: formData

        /*headers: {
          'Content-Type':'application/json'
        },
        body: JSON.stringify(params)

         */
      }).then(response => {
        console.log(response);
        if(!response.ok) {
          throw new Error('Request failed');
        }

        alert('저장되었습니다');
        location.href = `/posts/${id}`;
      }).catch(error => {
        alert('오류가 발생되었습니다.');
      });



    }

    function goList() {
      location.href = '/posts' + location.search;
    }

    function deleteImage(id) {
      if(!confirm('이미지를 제거하시겠습니까?')) {
        return false;
      }
      deletedImage.push(id);
      let deletedList = document.getElementById(`img-list-${id}`);
      deletedList.remove();

    }


    /*]]>*/
  </script>
</th:block>

</html>