<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" layout:decorate="layout">

<th:block layout:fragment="content">

    <div class="post-block">
        <div class="post-header">
            <div class="post-title">
                <h2 id="title-text" class="title-text"></h2>
            </div>
            <div class="post-info">
                <div class="post-name-role">
                    <span id="title-username"></span><span id="title-role"></span>
                </div>
                <div class="post-dates-hits">
                    <div class="title-created-date"><span class="fa-regular fa-clock"></span><span id="title-created-date-text"></span><span id="title-modified-date-text"></span></div><div class="title-hits"><span class="fa-regular fa-eye"></span><span id="title-hits-text"></span></div>
                </div>
            </div>
        </div>
        <div class="btn-wrap btn-post btn-common">
            <button type="button" onclick="goList();" class="btn btn-default waves-effect waves-light" th:text="#{button.back}">Back</button>
            <button type="button" onclick="goUpdate();" class="btn btn-primary waves-effect waves-light" th:text="#{button.modify}">Modify</button>
            <button type="button" onclick="deleteBoard();" class="btn btn-danger waves-effect waves-light" th:text="#{button.delete}">Delete</button>
        </div>
        <div class="post-body">
            <div class="post-content">
                <p id="post-contents"></p>
                <div id="post-content-images">
                </div>
            </div>
        </div>
    </div>




    <div class="comment">
        <div class="comment-title">
            <strong th:text="#{board.view.comments}+ ' : '">Comments : </strong><strong id="comment-total-count"></strong>
        </div>
        <div class="comment-block">
            <ul class="comment-list" id="comment-list">

            </ul>
        </div>

        <div class="comment-write">
            <strong class="comment-write-title" th:text="#{board.view.comments.write}">Leave comments</strong>
            <div class="comment-text-block">
                <textarea id="comment-content" name="commentContent"class="form-control comment-textarea" th:placeholder="#{board.view.comments.write.placeholder}" placeholder="Enter a comment"></textarea>
            </div>
            <div class="comment-write-button">
                <button type="button" onclick="save()" class="btn-comment-save btn-comment btn btn-primary waves-effect waves-light" th:text="#{button.save}">Save</button>
            </div>

        </div>
    </div>

</th:block>

<th:block layout:fragment="script">
    <script th:inline="javascript">
        /*<![CDATA[*/

        let commentHtml = '';
        let commentDepthIdx = 0;
        let totalComments = 0;
        let imageHtml = '';
        let board;


        window.onload = () => {
            getPostInfo();
            getComments();
        }

        /**
         * 게시글 조회
         */
        function getPostInfo() {
            const id = /*[[ ${id} ]]*/;
            $.ajax({
                type: "GET",
                url: `/api/posts/${id}`,
                success: function (json) {
                    if (json) {

                        console.log(json.result.data);

                        const title = json.result.data.title;
                        const username = json.result.data.member.username;
                        const role = json.result.data.member.mainRole;
                        const createdDate = moment(json.result.data.createdDate).format('YYYY-MM-DD HH:mm');
                        let modifiedDate = moment(json.result.data.modifiedDate).format('YYYY-MM-DD HH:mm');
                        const hits = json.result.data.hits;
                        const contents = json.result.data.content;
                        const images = json.result.data.images;

                        const boardType = json.result.data.boardType;
                        if(boardType == "FORUM") {
                            console.log("board type = " + boardType);
                            board = 'forum';
                        } else if (boardType == "NOTICE") {
                            console.log("board type = " + boardType);
                            board = 'notice';
                        }

                        document.getElementById("title-text").innerText = title;
                        document.getElementById("title-username").innerText = username;
                        document.getElementById("title-role").innerText = role;

                        if(images.length != 0) {
                            images.forEach( i => {
                                imageHtml += `
                                    <img src="../image/${i.uniqueName}"/>
                                `
                            })
                            document.getElementById("post-content-images").innerHTML = imageHtml;
                        }

                        document.getElementById("title-created-date-text").innerText = createdDate;
                        if(createdDate !== modifiedDate) {
                            modifiedDate = "(modified : " +modifiedDate+ ")";
                            document.getElementById("title-modified-date-text").innerText = modifiedDate;
                        }

                        document.getElementById("title-hits-text").innerText = hits;
                        document.getElementById("post-contents").innerText = contents;

                        document.getElementById('comment-total-count').innerText = json.result.data.comments;

                    }
                },
                error: function (error) {
                    alert('게시글 정보를 찾을 수 없습니다');
                }

            });
        }

        // 왜 fetch 통해서는 데이터 안받와아질까??
        function getPost() {
            const id = /*[[ ${id} ]]*/;
            fetch(`/api/posts/${id}`).then(response => {

                if(!response.ok) {
                    throw new Error('Request failed...');
                    console.log("error");
                }

                return response.json();

            }).then(json => {
                json.createdDate = moment(json.createdDate).format('YYYY-MM-DD HH:mm');
                json.modifiedDate = moment(json.modifiedDate).format('YYYY-MM-DD HH:mm');
                Object.keys(json).forEach(key => {
                    const elem = document.getElementById(key);
                    if(elem) {
                        elem.innerText = json[key];
                    }
                });
            }).catch(error => {
                alert('게시글 정보를 찾을 수 없습니다');
                goList();
            });
        }


        function getComments() {
            const id = /*[[ ${id} ]]*/;
            const uri = `/api/comments/${id}`;
            const params = {
                postId: `${id}`
            };
            $.ajax({
                type: "GET",
                url: uri,
                contentType: 'application/json',
                //dataType:'json',
                //data: JSON.stringify(params),
                success: function (json) {
                    if (!json.success) {
                        console.log('에러발생');
                    }
                    console.log(json.result.data);

                    recursiveGetComments(json.result.data);

                    document.getElementById('comment-list').innerHTML = commentHtml;
                },
                error: function (error) {
                    alert('게시글 정보를 찾을 수 없습니다');
                }
            });
/*
            fetch(uri, {
                method: 'GET',
                headers: {
                    'Content-Type':'application/json'
                },
                body: JSON.stringify(params)
            }).then(response => {
                console.log(response);
                if(!response.ok){
                    throw new Error('Request failed');
                }

            }).catch(error => {
                console.log('오류 발생');
            });

 */
        }

        function recursiveGetComments(arrComments) {
            arrComments.forEach((obj) => {

                totalComments ++;

                let content = '';
                let username = '';
                let createdDate = moment(obj.createdDate).format('YYYY-MM-DD HH:mm');
                let commentDepth = commentDepthIdx * 5;

                if (obj.deleted) { //삭제된 댓글일 경우
                    content = '삭제된 댓글입니다.';
                    username = '***';
                } else {
                    content = obj.content;
                    username = obj.member.username;
                }

                let msgButtonReply = [[ #{button.reply} ]];
                let msgButtonDelete = [[ #{button.delete} ]];
                let msgButtonCancel = [[#{button.cancel}]];
                let msgButtonSave = [[#{button.save}]];

                commentHtml += `
                    <li id="comment-${obj.id}" class="comment-list-li" style="padding-left: ${commentDepth}%">
                        <div class="comment-area">
                            <div class="comment-username-box">
                                <strong class="comment-username">${username}</strong>
                            </div>
                            <div class="comment-text-box">
                                <p class="comment-content">${content}</p>
                            </div>
                            <div class="comment-info-box">
                                <span class="comment-createdDate">${createdDate}</span>
                                <a class="comment-button comment-button-reply" role="button" onclick="toggleReply(${obj.id})" >${msgButtonReply}</a>
                                <a class="comment-button comment-button-delete" role="button" onclick="deleteComment(${obj.id})" >${msgButtonDelete}</a>
                            </div>
                        </div>
                    </li>
                    <li id="comment-reply-${obj.id}" class="comment-reply" style="padding-left: ${commentDepth}%">
                        <div class="comment-reply-area">
                            <div class="comment-reply-text-box">
                                <textarea id="comment-reply-content-${obj.id}" class="form-control comment-reply-textarea" placeholder=[[#{board.view.comments.write.placeholder}]] ></textarea>
                            </div>
                            <div class="comment-reply-buttons">
                                <a class="comment-button comment-reply-button-cancel" role="button" onclick="cancelReply(${obj.id})" ><span text=[[#{button.cancel}]]>${msgButtonCancel}</span></a>
                                <a class="comment-button comment-reply-button-save" role="button" onclick="replySave(${obj.id})">${msgButtonSave}</a>
                            </div>
                        </div>
                    </li>
                `;

                if (obj.children.length != 0) {
                    commentDepthIdx++;
                    recursiveGetComments(obj.children);
                }
            });
            commentDepthIdx--;
        }




/*



                commentHtml += `<div class="comment-block">
                    <span>`;
                for(let i = 0 ; i <= commentDepth ; i++) {
                    commentHtml += `&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;`;
                }
                commentHtml += `</span>`;
                if(obj.deleted) {//삭제된 경우
                    commentHtml +=`
                        <span class="comment-username">***</span><span class="comment-createdDate">(${moment(obj.createdDate).format('YYYY-MM-DD HH:mm')})</span>

                        <p class="comment-content">`;
                } else {
                    commentHtml += `
                        <span class="comment-username">${obj.member.username}</span><span class="comment-createdDate">(${moment(obj.createdDate).format('YYYY-MM-DD HH:mm')})</span>
                        <span class="comment-link"><a class="comment-link" href="javascript:void(0);" onclick="replyComment(${obj.id})">reply</a></span>
                        <span class="comment-link"><a class="comment-link" href="javascript:void(0);" onclick="deleteComment(${obj.id})">delete</a></span>

                        <p class="comment-content">`;
                }

                for(let i = 0 ; i <= commentDepth ; i++) {
                    commentHtml += `&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;`;
                }

                if(obj.deleted) {
                    commentHtml += `
                        삭제된 댓글입니다.</p></div>
                    `;
                } else {
                    commentHtml += `
                        ${obj.content}</p>
                        <div id="reply-comment-${obj.id}"></div></div>
                    `;
                }


                if(obj.children.length != 0) {
                    commentDepth ++;
                    recursiveGetComments(obj.children);
                }
            })
            commentDepth --;
        }

 */

        /**
         * 뒤로가기
         */
        function goList() {
            location.href = `/posts/${board}` + location.search;
        }

        /**
         * 수정하기
         */
        function goUpdate() {
            const id = /*[[ ${id} ]]*/;
            location.href = `/posts/update/${id}`;
        }

        /**
         * 게시글 삭제하기
         */
        function deleteBoard() {
            const id = /*[[ ${id} ]]*/;

            if(!confirm(`${id}번 게시글을 삭제할까요?`)) {
                return false;
            }

            fetch(`/api/posts/${id}`, {
                method: 'DELETE',
                headers: {'Content-Type': 'application/json'},
            }).then(response => {
                if(!response.ok) {
                    throw new Error('Request failed...');
                }

                alert('삭제되었습니다');
                goList();
            }).catch(error => {
                alert('오류가 발생하였습니다');
            });
        }

        /**
         * 댓글 등록
         */
        function save() {
            const id = /*[[ ${id} ]]*/;
            const content = document.getElementById('comment-content');
            const params = {
                content: content.value,
                postId: id
            };
            const uri = `/api/comments`


            fetch(uri, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(params)
            }).then(response => {
                if(!response.ok) {
                    throw new Error('Request failed');
                }
                console.log(response);
                location.href = `/posts/${id}`;
            }).catch(error => {
                alert('오류가 발생했습니다');
            });


        }

        function replySave(commentId) {

            const id = /*[[ ${id} ]]*/;
            const content = document.getElementById('comment-reply-content-'+commentId).value;
            const params = {
                content: content,
                postId: id,
                parentId: commentId
            };
            console.log("params");
            console.log(JSON.stringify(params));
            const uri = `/api/comments`

            fetch(uri, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(params)
            }).then(response => {
                if(!response.ok) {
                    throw new Error('Request failed');
                }
                console.log(response);
                location.href = `/posts/${id}`;
            }).catch(error => {
                alert('오류가 발생했습니다');
            });


        }

        /**
         * 댓글 답글창 토글
         */
        function toggleReply(commentId) {
            document.getElementById("comment-reply-"+commentId).style.display = "block";
        }
        function cancelReply(commentId) {
            document.getElementById("comment-reply-"+commentId).style.display = "none";
        }

        /**
         * 댓글 답글 등록
         */
        function replyComment(commentId) {
            console.log("reply Comment! comment " + commentId);
            let replyAddFormHtml = '';
            replyAddFormHtml += `
                <form action="" id="form-reply-comment" className="form-comment">
                    <div className="form-group">
                        <div className="col-sm-10">
                            <input id="commentContent" name="commentContent" className="form-control"
                                      placeholder="댓글을 입력하세요."/>
                            <button type="button" onClick="replySave(${commentId})" className="btn btn-primary waves-effect waves-light">등록
                            </button>
                        </div>
                    </div>
                </form>`;

            document.getElementById('reply-comment-'+commentId).innerHTML = replyAddFormHtml;

        }



        /**
         * 댓글 삭제
         */
        function deleteComment(commentId) {
            const postId = /*[[ ${id} ]]*/;
            const uri = `/api/comments/${commentId}`;

            if(!confirm(`댓글을 삭제할까요?`)) {
                return false;
            }

            fetch(uri, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json'
                }
            }).then(response => {
                if(!response.ok) {
                    throw new Error('Request failed');
                }
                console.log(response);
                location.href = `/posts/${postId}`;
            }).catch(error => {
                alert('오류가 발생했습니다');
            });

        }


        /*]]>*/
    </script>
</th:block>

</html>