<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="layout">

<th:block layout:fragment="content">

    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="welcome">
                    <h2>Welcome to My Community</h2>
                    <p>This website is the personal side project using Spring boot. Common community site features are implemented.</p>
                    <p>Key features implemented</p>
                    <p>* Post CRUD APIs. (Create, Read, Update and Delete)</p>
                    <p>* File Upload</p>
                    <p>* Hierarchical structured comment</p>
                    <p>* Sign in & Sign up APIs. (Using JWT and Spring Security)</p>
                    <p>* Social Login - OAuth2</p>
                    <p>* Setting user's role and authorization according to the role</p>
                    <p>* Parameter validation on sign in, sign up and post creation</p>
                    <p>* Admin page - role modify, user delete (Admin role only) </p>
                    <p>* User page - check own posting, change password, delete account</p>
                    <p>* Swagger API documentation provided</p>
                    <p>* Internationalize and message (English and Korean - Depends on web browser language setting)</p>
                </div>
            </div>
        </div>
    </div>

</th:block>